@tailwind base;
@tailwind components;

@import "./theme-pink.css";

:root {
  --mainColor: red;
}

button {
  & a {
      color: var(--mainColor)
  }

  @nest &.custom {
      background-color: pink
  }
}

@tailwind utilities;